@tailwind base;
@tailwind components;
@tailwind utilities;

a, button, input, textarea {
	@apply focus:outline-none;
}

.serif {
	font-family: 'Lusitana', serif;
}

.dropdown:focus-within .dropdown-menu {
	opacity: 1;
	transform: translate(0) scale(1);
	visibility: visible;
}

.dropdown-menu {
	@apply opacity-0 invisible transition-all duration-300 transform origin-top-right -translate-y-2 scale-95
}

.nav--item {
	@apply inline-flex justify-center text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white hover:text-teal-500
}

.dropdown-item {
	@apply text-gray-700 hover:text-teal-500 hover:bg-gray-50 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left transition duration-150 ease-in-out;
}

.btn-primary {
	@apply text-white rounded hover:shadow-lg hover:shadow-teal-800/30 leading-5 my-2 bg-teal-500 hover:bg-teal-700 transition duration-150 ease-in-out whitespace-nowrap px-5 py-2 border-teal-500 border text-sm inline-block mr-5 text-center
}

.btn-primary-link {
	@apply font-medium leading-5 my-2 hover:text-teal-700 transition duration-150 ease-in-out bg-white text-teal-500 whitespace-nowrap inline-block text-sm mr-5 text-center
}

.btn-danger-link {
	@apply font-medium leading-5 my-2 hover:text-rose-700 transition duration-150 ease-in-out bg-white text-rose-500 whitespace-nowrap inline-block text-sm mr-5 text-center
}

h1 {
	@apply text-2xl;
}

h2 {
	@apply text-xl;
}

h3 {
	@apply text-lg;
}

.with-transition {
	@apply transition duration-150 ease-in-out;
}

.disabled {
	@apply bg-gray-300 pointer-events-none;
}

.slide {
	@apply inset-0 h-full w-full left-0 absolute object-cover object-center transition-opacity ease-in-out duration-1000 transform;
}

.content a {
	@apply text-teal-500 hover:text-teal-700 hover:underline decoration-teal-500 decoration-2 underline-offset-4 with-transition;
}

.link {
	@apply  hover:underline decoration-teal-500 decoration-2 text-teal-500 underline-offset-4 with-transition;
}

.table th {
	@apply px-6 py-3 text-left text-xs font-bold text-gray-50 uppercase tracking-wider;
}

.table td {
	@apply px-6 py-4 whitespace-nowrap text-sm;
}

.collapse {
	@apply transition duration-150 ease-in-out h-0 overflow-hidden;
}


.collapsed {
	@apply transition duration-150 ease-in-out h-auto;
}


.accordion-button {
	@apply flex justify-between items-center cursor-pointer;
}
